.chat-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.chat-list-inner-container {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  overflow-y: scroll;
  height: calc(100vh - 134px);
  margin-top: 1px;
  border: 1px solid var(--secondary);
  border-bottom-left-radius: 15px;
}
/* width */
.message-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px;
}
.message-div-container-v2 {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 5px;
}
.message-div-container-v2 > label {
  color: var(--primary);
  font-size: var(--text);
  font-weight: bold;
}
.loader-styles-list {
  flex-direction: row;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
