@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.message-option-modal-container {
  opacity: 1;
  display: flex;
  width: fit-content;
  position: absolute;
  flex-direction: column;
  background-color: var(--secondary);
  border: 1px solid var(--primary);
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  animation-duration: 1s;
  animation-name: modal;
}
.message-option-modal-list {
  display: flex;

  flex-direction: row;
  align-items: center;
  column-gap: 3vw;
  padding: 10px;
  border-bottom: 1px solid var(--primary);
}
.message-option-label {
  color: var(--primary);
  font-size: var(--menu);
  font-weight: bold;
}
.message-option-icons {
  color: var(--primary);
}
.message-option-modal-list:hover {
  background-color: var(--primary);
}
.message-option-modal-list:hover > .message-option-icons {
  color: var(--secondary);
}
.message-option-modal-list:hover > .message-option-label {
  color: var(--secondary);
}
