.error-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container > label {
  color: black;
  font-size: large;
  font-weight: bold;
}
