@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.select-user-modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 15px;
  width: fit-content;
  padding-bottom: 10px;
  top: 20vh;
  left: 35vw;
  animation-name: animate;
  animation-duration: 3s;
}
.select-user-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  column-gap: 10vw;
  border: 2px solid var(--primary);
  border-top: none;
  border-left: none;
  border-right: none;
}

.select-user-modal-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-user-modal-header > div > label {
  font-size: var(--heading);
  font-weight: bold;
  color: var(--primary);
}
.select-user-modal-body {
  height: 45vh;
  overflow-y: scroll;
}

.select-user-close-button {
  padding: 10px;
  flex: 1;
  color: var(--primary);
  font-size: var(--menu);
  font-weight: bold;
  width: 100%;
  border: 2px solid var(--primary);
  border-radius: 15px;
  justify-content: center;
  background-color: var(--danger);
}
.select-user-close-button:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: 2px solid var(--secondary);
}
