.home-body-container {
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  flex-direction: column;
}
.home-body-container > img {
  height: 50% !important;
  width: 50% !important;
  border: 50%;
}
.home-body-container > label {
  font-size: var(--menu);
  font-weight: bold;
  text-decoration: underline;
  color: var(--secondary);
  margin-top: 10px;
}
.home-body-container > label:hover {
  font-size: var(--menu);
  font-weight: bold;
  text-decoration: none;
  color: blueviolet;
}
.logo-img-theme-dark {
  color: var(--secondary);
  filter: invert(85%) sepia(12%) saturate(0%) hue-rotate(114deg) brightness(89%)
    contrast(91%);
}

.logo-img-theme-light {
  color: var(--secondary);
  filter: invert(5%) sepia(14%) saturate(2542%) hue-rotate(180deg)
    brightness(95%) contrast(107%);
}
