.modal-message-user-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--primary);
  align-items: center;
  column-gap: 10vw;
}
.modal-message-user-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-message-image {
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary);
  border-radius: 50%;
}
.option-message-label-div {
  padding: 10px;
}
.option-message-label {
  color: var(--primary);
  font-size: var(--text);
  font-weight: bold;
}
.option-message-label:hover {
  text-decoration: underline;
  color: var(--hover-modal);
}
.option-message-label:hover > .modal-message-user-container {
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}
.option-message-icons {
  column-gap: 3vw;
}
.option-message-icon-select {
  color: var(--primary);
}
.option-message-icon-select:hover {
  color: var(--hover-modal);
}
