.name-logo-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 10px 10px;
  flex: 1;
}
.theme-inner-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.switch-button {
  color: var(--secondary);
}
.menu-item {
  display: flex;
  border-radius: 5px 0px 0px 5px;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
}
.menu-item:hover {
  color: var(--secondary);
  background-color: var(--primary);
}
.menu-item-open {
  display: flex;
  border-radius: 5px 0px 0px 5px;
  flex-direction: row;
  align-items: center;
  color: var(--secondary);
  background-color: var(--primary);
}
.logo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  align-items: center;
  padding: 3px 3px 3px 3px;
  border-radius: 0px 5px 5px 0px;
}
.logo-item > label {
  font-size: var(--heading);
  font-weight: bold;
}

.logo-item-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary);
  color: var(--primary);
  align-items: center;
  padding: 3px 3px 3px 3px;
  border-radius: 5px 5px 5px 5px;
}
.logo-item-new > label {
  font-size: var(--heading);
  font-weight: bold;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: center;
  border-radius: 15px;
}

.theme-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}
.add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
}
.add-button-open {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 5px;
}
.add-button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
.theme-label {
  font-size: var(--text);
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .logo-item {
    display: none;
  }
  .logo-item > label {
    display: none;
  }
  .logo-item-new {
    display: none;
  }
  .logo-item-new > label {
    display: none;
  }
  .theme-label {
    display: none;
  }
  .menu-item {
    border-radius: 5px;
  }
}
@media screen and (max-width: 650px) {
  .logo-item > label {
    display: none;
  }
  .logo-item {
    display: none;
  }
  .theme-label {
    display: none;
  }
  .menu-item {
    border-radius: 5px;
  }
  .logo-item-new > label {
    display: none;
  }
  .logo-item-new {
    display: none;
  }
}
.display-div {
  padding-right: 10px;
  align-self: center;
  padding-top: 5px;
}
.display-image {
  width: 40px;
  align-self: center;
  height: 40px;
  border-radius: 50%;

  border: 1px solid var(--secondary);
}
