.chat-box-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--secondary);
  margin-top: 1px;
  margin-left: 1px;
}
.chat-space {
  display: flex;
  height: calc(100vh - 232px);
  background-color: var(--primary);
  flex-direction: column;
  overflow-y: scroll;
  vertical-align: bottom;
}
.inner-container {
  padding: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}
.inner-container-user {
  padding: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.label1 {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 40px;
  padding: 10px;
  font-size: var(--text);
}
.justify-element {
  justify-content: center;
  flex-direction: row;
}
.display-message {
  justify-content: flex-end;
  flex-wrap: wrap;
}
.label2 {
  background-color: blueviolet;
  color: black;
  text-align: left;

  justify-content: flex-end;
  border-radius: 40px;
  padding: 10px;
  font-size: var(--text);
}
.icon-visibility {
  display: none !important;
}

.inner-container-user:hover > div > .icon-visibility {
  display: flex !important;
  color: var(--secondary);
  align-self: center;
}
.inner-container:hover > div > .icon-visibility {
  display: flex !important;
  color: var(--secondary);
  justify-content: flex-end;
  align-self: center;
}
.empty-message-constainer {
  display: flex;
  align-items: center;
}
.empty-message {
  padding: 10px;
  display: flex;
  border-radius: 15px;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
}
.empty-message-label {
  font-size: var(--text);
  font-weight: bold;
  color: var(--primary);
}
.chat-box-message-reply-container {
  position: fixed;
  align-items: center;
  width: inherit;
  background-color: var(--secondary);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid var(--secondary);
  border-left: none;
  border-bottom: none;
  border-right: none;
}
.chat-box-message-reply-inner-container {
  align-items: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  flex-direction: row;
}

.chat-box-message-icon {
  color: var(--primary);
}
.chat-box-message-label {
  color: var(--primary);
  font-size: var(--text);
}
.chat-message-reply-container {
  display: flex;
  flex-direction: column;
}
.chat-message-reply-container-user1 {
  display: flex;

  border-radius: 15px;
  padding: 10px;
  justify-content: center;
}
.reply-innerDiv {
  display: flex;
  background-color: green;
  width: fit-content;
}
.custom-label-reply {
  font-size: var(--text);
  font-weight: bolder;
  color: var(--secondary);
  overflow: hidden;
  max-width: 15ch;
  white-space: nowrap;
  text-overflow: ellipsis;
}
