@keyframes notifications {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
.notification-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: orange;
  border: 2px solid var(--primary);
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: fixed;
  top: 70px;
  right: 0;
  animation-name: notifications;
  animation-duration: 0.3s;
}

.notification-header {
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;

  border-radius: 15px 0px 0px 15px;
}
.notification-header > label {
  color: var(--primary);
  padding-left: 10px;
  font-size: var(--menu);

  font-weight: 800;
}
.notification-head-body {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.notification-header-body > label {
  color: var(--primary);
  padding-left: 10px;
  font-size: var(--menu);

  font-weight: 800;
}

.notification-display {
  right: 0px;
  opacity: 1;
  display: inline-block;
  margin-top: 100px;
  animation-name: notifications;
  animation-duration: 0.5s;
  overflow-y: scroll;
}

.notification-message-header-label {
  font-weight: bold;
  padding: 10px;
  color: var(--primary);
}
.notification-message-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.notification-border-green {
  border: 2px solid green;
  border-radius: 17px 0px 0px 17px;
}
.notification-border-red {
  border: 2px solid red;
  border-radius: 15px 0px 0px 15px;
}
.notification-message-container {
  display: flex;
  flex-direction: column;
}
.notification-message-body {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-top: 0px;
}
.notification-icon-div {
  padding-right: 10px;
}
.notification-body-label {
  color: var(--primary);
  text-align: center;
  font-size: var(--text);
  font-weight: 600;
}
