@keyframes notifications {
  from {
    right: -100px;
  }
  to {
    right: 0;
  }
}
.notification-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: fixed;
  top: 70px;
  right: 0;
  animation-name: notifications;
  animation-duration: 0.3s;
}

.notification-header {
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.notification-header > label {
  color: var(--primary);
  padding-left: 10px;
  font-size: var(--menu);
  font-weight: 800;
}
