.custom-fonts {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

.uniform-colors {
  --warning: yellow;
  --danger: red;
}
.theme-light {
  --primary: #fff;
  --secondary: grey;
}
.theme-dark {
  --primary: #000;
  --secondary: #fff;
}

@media screen and (min-width: 320px) {
  .App {
    --text: 12px;
    --heading: 16px;
    --menu: 10px;
  }
}
@media screen and (min-width: 480px) {
  .App {
    --text: 13px;
    --heading: 17px;
    --menu: 11px;
  }
}
@media screen and (min-width: 600px) {
  .App {
    --text: 14px;
    --heading: 18px;
    --menu: 12px;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media screen and (min-width: 801px) {
  .App {
    --text: 15px;
    --heading: 19px;
    --menu: 13px;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media screen and (min-width: 1025px) {
  .App {
    --text: 16px;
    --heading: 20px;
    --menu: 14px;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media screen and (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .App {
    --text: 17px;
    --heading: 21px;
    --menu: 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
