.server-error-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.server-error-route-container {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.server-big-label {
  color: var(--secondary);
  font-size: 40px;
  font-weight: bolder;
}
.server-label-inner {
  color: var(--secondary);
  font-size: large;
  font-weight: bold;
}
.server-error-no-found {
  display: flex;
  justify-content: center;
}
.server-server-button-div-go-back {
  display: flex;
  justify-content: center;
}
.server-button-go-back {
  padding: 10px;
  font-size: var(--text);
  border-radius: 10px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  align-items: center;
  justify-content: center;
  color: var(--primary);
}
.server-button-go-back:hover {
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  color: var(--secondary);
}
