.search-inner-container {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary);
  align-items: center;
  flex: 2;
  border-radius: 15px;
  border: 1px solid var(--secondary);
}
.search-inner-container > div > input {
  font-size: var(--text);
  width: 100%;
  display: flex;
  color: var(--primary);
  align-items: center;

  background-color: transparent;
  border: none;
}
.search-inner-container > div > input::placeholder {
  color: var(--primary);
}
.input-field {
  width: 90%;
}
.close-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--primary);
}
.close-icon-invisible {
  visibility: hidden;
}
.search-none {
  visibility: hidden;
}
.search-img {
  text-align: center;
  color: var(--primary);
}
.icon-visibility {
  display: flex;
  padding-left: 5px;
}
.search-inner-container > div > input:focus {
  outline: none;
}
